<mat-toolbar color="primary">
  <span routerLink="/">MyMovies</span>
  <span class="separateur"></span>
  <button mat-button routerLink="/films">Mes films</button>
  <button mat-button routerLink="/personalities">Personnalités</button>
  <button mat-button routerLink="/characters">Personnages</button>
  <button mat-button routerLink="/genres">Genres</button>
  <button mat-button routerLink="/jobs">Métiers</button>
  <button mat-icon-button routerLink="/parameters"><mat-icon>settings</mat-icon></button>
</mat-toolbar>
